body {
    font-family: Arial, sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.container {
    position: relative;
}

.info-panel {
    display: flex;
    flex-direction: column; /* Выстраиваем элементы вертикально */
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid #ccc;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    padding: 10px;
}

.scoreboard {
    margin-top: 5px; /* Отступ между счетчиком и количеством игроков */
}

.game-area {
    display: grid;
    grid-template-columns: repeat(100, 1fr);
    grid-template-rows: repeat(100, 1fr);
    width: 500px; /* Установите ширину по желанию */
    height: 500px; /* Установите высоту по желанию */
    border: 2px solid #ccc;
    margin-top: 70px; /* Отступ от панелей информации */
}

.cell {
    width: 5px; /* Установите ширину ячейки */
    height: 5px; /* Установите высоту ячейки */
    background-color: gray; /* Цвет по умолчанию */
    border: 1px solid #eee; /* Граница ячейки */
}

.online-counter {
    font-size: 16px; /* Размер шрифта для количества игроков */
}
